.grande1{
    font-family: 'Caveat', cursive;
    font-size: xx-large;
}
.grande2{
    font-family: 'Caveat', cursive;
    font-size: x-large;
}
.normal{
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
}
.peque{
    font-family: 'Caveat', cursive;

}
